### Docker settings

### RECOLL ##############################################

RECOLL_WEBUI_PORT=8080

### Paths #################################################

# Choose path to index on your machine.  For all storage systems
HOST_PATH_TO_INDEX=~

# Choose storage path on your machine. For all storage systems
HOST_INDEX_STORAGE_PATH=./data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################
## reference: https://docs.docker.com/compose/reference/envvars/

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects running to identify containers.
COMPOSE_PROJECT_NAME=RECOLL



